body {
    background-color: #fff;
    color: #fff;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #333;
}

label {
    margin-bottom: 5px;
    background-color: red;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #00ff00, #008000);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: linear-gradient(90deg, #008000, #00ff00);
}

h2 {
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #444;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}